{% extends "base.html" %}

{% block base %}
  <div class="container" style="padding-top: 100px;">
    <h1>Alterar % de alimentação</h1>
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'alimentacao' %}">
      {% csrf_token %}

      <div class="form-row">
        <div class="col-md-4 mb-3">
          {{ data_form.as_p }}

          <label for="id_jaula">ID Jaula:</label>
          {{ form.id_jaula }}
      </div>
      </div>

      <label for="percentagem_alimentacao">Percentagem de alimentação</label>
      {{ form.percentagem_alimentacao }}

      
      <div class="text-center">
        <button type="submit" class="btn btn-primary mt-4">Submeter</button>
      </div>  
    </form>
    <p></p>
    <p></p>
    <p></p>
    
  </div>

  

{% endblock base %}
