{% extends "base.html" %}

{% block base %}
  <div class="container" style="padding-top: 100px;">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'insert_temp' %}">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-6">
          <div class="w3-dropdown-hover">
            <button class="w3-button" style="background-color: #f2f2f2; border: 1px solid gray; border-radius: 10px; padding: 10px;">Jaula </button>
            <div class="w3-dropdown-content w3-bar-block w3-border" style="border-radius: 10px;">
              <a href="#" class="w3-bar-item w3-button">Jaula 1</a>
              <a href="#" class="w3-bar-item w3-button">Jaula 2</a>
              <a href="#" class="w3-bar-item w3-button">Jaula 3</a>
            </div>
          </div>
        </div>

      </div>
      <div class="form-row">
        <div class="form-group col-md-4"> 
          <p>
            <label for="id_qtd_comida">Atualizar Quantidade de Comida (kg):</label>
            <input type="number" name="qtd_comida" step="0.1" required="" id="id_qtd_comida">
          </p>
        </div>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submeter</button>
      </div>
    </form>
  </div>


{% endblock base %}
