{% extends "base.html" %}

{% block base %}
  <div class="container" style="padding-top: 100px;">
    {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {% endfor %}
    {% endif %}
    <form method="POST" action="{% url 'dados_jaula' %}">
      {% csrf_token %}
      <div class="form-row">
        <div class="form-group col-md-4">
          <label for="num_peixes">ID Jaula:</label>
            {{ dadosjaula_form.id_jaula }}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-4">
          {{ data_form.as_p }}
        </div>
        <div class="form-group col-md-4">
          <label for="peso_medio">Numero de peixes:</label>
          {{ dadosjaula_form.num_peixes }}
        </div>
        <div class="form-group col-md-4">
          <label for="peso_medio">PM:</label>
          {{ dadosjaula_form.PM }}
        </div>
        
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="num_peixes">Percentagem de Alimentação:</label>
            {{ dadosjaula_form.percentagem_alimentacao }}
          </div>
          <div class="form-group col-md-4">
            <label for="num_peixes">FC:</label>
            {{ dadosjaula_form.FC }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="num_peixes">Alimentação Real:</label>
            {{ dadosjaula_form.alimentacao_real }}
          </div>
          <div class="form-group col-md-4">
            <label for="num_peixes">PM real:</label>
            {{ dadosjaula_form.PM_real }}
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="num_peixes">Numero mortos real:</label>
            {{ dadosjaula_form.num_mortos_real }}
          </div>
          <div class="form-group col-md-4">
            <label for="num_peixes">Percentagem mortalidade real:</label>
            {{ dadosjaula_form.percentagem_mortalidade_real }}
          </div>
        </div>
        
        <!--
        <div class="form-group col-md-4">
          <label for="peso_total">Peso Total (kg):</label>
          <input type="text" id="peso_total" name="peso_total" class="form-control" required>
        </div>
        <div class="form-group col-md-4">
          <label for="alimentacao">% Alimentação</label>
          <input type="text" id="alimentacao" name="alimentacao" class="form-control" required>
        </div>
      </div>
      -->
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submeter</button>
      </div>
    </form>
  </div>

  <style

  <style>
    form {
      padding: 20px;
      background-color: #f2f2f2;
      border-radius: 10px;
    }
    label {
      margin-left: 20px;
      font-weight: bold;
      margin-right: 10px;
    }
    input[type="text"] {
      padding: 10px;
      margin-bottom: 20px;
      border-radius: 10px;
      border: 1px solid gray;
    }
    input[type="submit"] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      border-radius: 10px;
      cursor: pointer;
      float: right;
      position: relative;
    }
    input[type="submit"]:hover {
      background-color: #3e8e41;
      margin-bottom: 100px;
    }
  </style>
{% endblock base %}
