{% extends "base.html" %}
{% block base %}

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-4 w3-display-container w3-opacity-min ">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-white w3-wide"><b>DASHBOARD</b></span>
  </div>
</div>

<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about" >
  <h3 class="w3-center" style="color:black; background-Color:lightblue; font-size:30px">DASHBOARD</h3>
  <h6 class="w3-center" style="color:white;" >DASHBOARD</h3>
  
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <div id="canvas-container">
      <canvas id="myChart1" style="width:100;max-width:950px;"></canvas>
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <select class="sl"onchange="function()">
        <option selected disabled="">Ano</option>
        <option value="">1992</option>
        <option value="">1993</option>
        <option value="">1994</option>
        <option value="">1995</option>
        <option value="">1996</option>
        <option value="">1997</option>
        <option value="">1998</option>
        <option value="">1999</option>
        <option value="">2000</option>
        <option value="">2001</option>
        <option value="">2002</option>
        <option value="">2003</option>
        <option value="">2004</option>
        <option value="">2005</option>
        <option value="">2006</option>
        <option value="">2007</option>
        <option value="">2008</option>
        <option value="">2009</option>
        <option value="">2010</option>
        </select>

      <h1 class="w3-center" style="color:white;" >DASHBOARD</h1>
      
      
      <canvas id="myChart2" style="width:100;max-width:950px;"></canvas>

      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <select class="sl"onchange="function()">
        <option selected disabled="">Ano</option>
        <option value="">1992</option>
        <option value="">1993</option>
        <option value="">1994</option>
        <option value="">1995</option>
        <option value="">1996</option>
        <option value="">1997</option>
        <option value="">1998</option>
        <option value="">1999</option>
        <option value="">2000</option>
        <option value="">2001</option>
        <option value="">2002</option>
        <option value="">2003</option>
        <option value="">2004</option>
        <option value="">2005</option>
        <option value="">2006</option>
        <option value="">2007</option>
        <option value="">2008</option>
        <option value="">2009</option>
        <option value="">2010</option>
        </select>

      <script>
      var temperatura = ["Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","set","Out","Nov","Dez"];

      new Chart("myChart1", {
        type: "line",
        data: {
          labels: temperatura,
          datasets: [{ 
            data: [19.4,20.5,21,19.1,23.2,22.4,20.3,25.6,24.2,27,24.3,22],
            borderColor: "lightblue",
            fill: false
          }]
        },
        options: {
          legend: {display: false},
          title: {
            fontSize: 20,
            display: true,
            text: 'Temperatura da Água / Mês'
          }
        }
      });
      </script>

      <script>
      var meses = ["Jan","Fev","Mar","Abr","Mai","Jun","Jul","Ago","set","Out","Nov","Dez"];
      var peixes = [30000, 29000, 28000, 27000, 26000, 25000, 24000, 23000, 22000, 21000, 20000, 19000];
      var barColors = ["lightblue", "lightblue","lightblue","lightblue","lightblue", "lightblue", "lightblue", "lightblue", "lightblue", "lightblue", "lightblue", "lightblue"];

      new Chart("myChart2", {
        type: "bar",
        data: {
          labels: meses,
          datasets: [{
            backgroundColor: barColors,
            data: peixes
          }]
        },
        options: {
          legend: {display: false},
          title: {
            fontSize: 20,
            display: true,
            text: "Quantidade de Peixes / Mês"
          }
        }
      });
      </script>
    </div>

    <h1 class="w3-center" style="color:white;" >DASHBOARD</h3>
  <p class="w3-large w3-center w3-padding-16">Previsões para o próximo mês:</p>
  <p class="w3-wide"><i class="fa fa-camera"></i>Temperatura Média(º)</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-light-blue w3-center" style="width:80%">23º</div>
  </div>
  <p class="w3-wide"><i class="fa fa-laptop"></i>Alimentação(%)</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-light-blue w3-center" style="width:65%">65%</div>
  </div>
  <p class="w3-wide"><i class="fa fa-photo"></i>Crescimento(%)</p>
  <div class="w3-light-grey">
    <div class="w3-container w3-padding-small w3-light-blue w3-center" style="width:4%">4%</div>
  </div>
</div>

<div class="w3-row w3-center w3-light-blue w3-padding-16">
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">20+</span><br>
    Anos de Dados
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">55+</span><br>
    
  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">89+</span><br>

  </div>
  <div class="w3-quarter w3-section">
    <span class="w3-xlarge">150+</span><br>
    
  </div>
</div>
<h6  class="w3-center" style="color:white;" >DASHBOARD</h3>

  {% endblock base %}