
{% extends "base.html" %}
{% block base %}
  <!-- First Parallax Image with Logo Text -->
  <div class="bgimg-1 w3-display-container w3-opacity-min" id="home" style="z-index: -4;">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity" style= "margin-left: 110px"><b> Sistemas de Suporte à </b></span>
      <p>
      <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity"><b>Decisão Aplicados à Aquacultura</b></span>
    </div>
  </div>

  <!-- Container (Portfolio Section) -->
  <div class="w3-content w3-container w3-padding-64" id="portfolio">
    <h3 class="w3-center" style="color:black; background-Color:lightblue; font-size:30px">Sobre</h3>
    
    
    <div class="container">
      <div class="about-section">
        <img class="image" src="static/images/logo1.png" width="300" height="250" alt="Company Logo">
        <div class="text">
          <p>Our company was founded in 2012 with the goal of providing top-quality products and services to our customers. Since then, we have grown to become a leader in our industry, serving a diverse range of clients across the globe.</p>
          <p>We are committed to sustainability and operate with the highest level of integrity in all that we do. Our team is made up of dedicated professionals who are passionate about what they do and strive to exceed our customers' expectations every day.</p>
        </div>
      </div>
      <p>Thank you for considering our company. We look forward to working with you and helping you achieve your goals.</p>
    </div>


    </div>
  </div>
{% endblock base %}