{% extends "base.html" %}
{% block base %}

  <div class="container "style="padding-top: 100px;">
    <h1>Desovas</h1>
    <div id="portfolio">

      <p> </p>

      <input type="button" id="loadFileXml" value="Escolher ficheiro Excel...." class="excel-button" onclick="document.getElementById('myFile').click();" />
      <input type="file" style="display:none;" id="myFile" name="myFile"/>
  
      <table id="tbl-data"></table>
      <div id="grid"></div>
      <div id="buttons" class="btn-group"></div>
    </div>
    <br>

    {% if messages %}
  
      {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      {% endfor %}
      
    {% endif %}
    <form method="POST" action="{% url 'ins_excel_desovas' %}">

      {% csrf_token %}
        <p>Selecione dados de um ficheiro excel, têm de estar ordenados por: Data, Fêmeas, Desovados, Embrionados  </h1>
        <div hidden>
          {{ desova_form.as_p }}
        </div>
        <div id="desova_dados" style="align-self: center;">
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary mt-4">Submeter</button>
        </div>  

    </form>

  </div>
    

<script>
    var global_grid;

    var make_buttons = function(sheetnames) {
      var buttons = document.getElementById('buttons');
      buttons.innerHTML = "";
      label = document.createElement('p'); label.innerText = "Selecione a folha de cálculo"; label.style.padding="3px"
      buttons.appendChild(label)
      sheetnames.forEach(function(s,idx) {
        var btn = document.createElement('button');
        btn.type = 'button';
        btn.name = 'btn' + idx;
        btn.text = s;
        btn.classList.add('btn');
        var txt = document.createElement('h3'); txt.innerText = s; btn.appendChild(txt);
        btn.addEventListener('click', function() { showSheet(WorkB,idx); });
        buttons.appendChild(btn);
      });
    };

    var input = document.getElementById("myFile");
    var WorkB;
    
    async function handleFileAsync(e) {
      
      const file = e.target.files[0];
      const data = await file.arrayBuffer();
      /* data is an ArrayBuffer */
      const workbook = XLSX.read(data, {cellDates: true});
      WorkB = workbook;
      var wsnames = workbook.SheetNames;
      make_buttons(wsnames);
      boot = true
      showSheet(workbook,0)
    }

    async function handleDropAsync(e) {
      e.stopPropagation(); e.preventDefault();
      const f = e.dataTransfer.files[0];
      /* f is a File */
      const data = await f.arrayBuffer();
      /* data is an ArrayBuffer */
      const workbook = XLSX.read(data, {cellDates: true});
      WorkB = workbook;
      var wsnames = workbook.SheetNames;
      make_buttons(wsnames);
      boot = true
      showSheet(workbook,0)
    }

    function callDefault(e) {
      e.preventDefault();
    }



    function selection(e){
      let rows = Object.keys(e.selectedData);
      let text = "";
      // para selecionar varios valores separados por ;
      for (let j = 0; j < rows.length; j++){
        array = ((e.selectedData)[rows[j]]);
        for(let i=0; i<Object.values(array).length;i++){
          value = Object.values(array)[i];
          if(value != undefined)text += value.toString() + ";"
        } 
      }
      text = text.slice(0, -1);
      text = text.replace(/\s/g, '');
      desovas_display(text);
      document.getElementById('id_desovasLines').value = text;
    }

    function desovas_display(text){
      var text_display = document.getElementById('desova_dados');
      text_display.innerHTML = "";
      var fields = text.split(';')
      let i;
      for(i=0;i<fields.length;i++){
        if(i%4==0){
          container = document.createElement('div');
          container.classList.add("btn-group");
          container.style.padding = "5px 0px 5px 0px";
          container.style.display = "block"
          container.setAttribute("align", "center");
        }
        dado = document.createElement('btn'); dado.innerText = fields[i];
        dado.type = 'button';
        dado.classList.add('btn');
        dado.classList.add('btn-info');
        dado.classList.add('btn-lg');
        dado.classList.add('disabled')
        dado.style.width = "133px";
        container.appendChild(dado)
        text_display.appendChild(container)

      }

    }

    var boot = true
    function showSheet(workbook,sheetidx){
      document.getElementById("grid").innerHTML = "";
      var sheet = workbook.SheetNames[sheetidx||0];

      //check if empty
      if(boot){
        var num = 0;
        console.log(Object.keys(workbook.Sheets[sheet]))
        while(Object.keys(workbook.Sheets[sheet]).length<5){
          sheet = workbook.SheetNames[num]
          num++
        }
        boot = false
      }

      /* DO SOMETHING WITH workbook HERE */
      var grid = canvasDatagrid({
        parentNode: document.getElementById('grid'),
        name: "datagrid",
        style: {
          cellWidth: '125'
        },
        data: []
      });
      grid.addEventListener('beforesortcolumn', callDefault);
      grid.addEventListener('selectionchanged', selection);

      grid.style.height = "400px";
      grid.style.width = "100%";
      
      // grid.data = XLSX.utils.sheet_to_json(ws, {header:1});
      // console.log(workbook.Sheets[sheet])
      // console.log(Object.keys(workbook.Sheets[sheet]).length);
      let i = 0;

      while (i < Object.keys(workbook.Sheets[sheet]).length) {
        let name = Object.keys(workbook.Sheets[sheet])[i];
        if (workbook.Sheets[sheet][name].t == "d" || workbook.Sheets[sheet][name].t == "n" ) {
          workbook.Sheets[sheet][name].v = workbook.Sheets[sheet][name].w
        }
        i++;
      }
      var Arrays = XLSX.utils.sheet_to_json(workbook.Sheets[sheet], {header:1})
      i = 0;
      let max_length = Arrays[0].length;
      // while (i < Arrays.length){
      //   if (Arrays[i].length > max_length) max_length = Arrays[i].length;
      // }
      console.log(max_length);
      Arrays
      .map(a=>a.length)
      .indexOf(Math.max(...Arrays.map(a=>a.length)));
      const lengths = Arrays.map(a=>a.length);
      max_length = lengths.indexOf(Math.max(...lengths));
      if (max_length > Arrays[0].length || Arrays[0].length < 15){
        let target_length = max_length-Arrays[0].length;
        if(target_length < 15) target_length = 15;
        for(i = 0; i < target_length; i++){
          Arrays[0].push("");
        }
      }
      grid.data = Arrays;
      global_grid = grid;
    }
    input.addEventListener("change", handleFileAsync, false);
    function handleDragover(e) {
      e.stopPropagation();
      e.preventDefault();
      e.dataTransfer.dropEffect = 'copy';
    }
    document.addEventListener("drop", handleDropAsync, false);
    document.addEventListener("dragover", handleDragover, false);
    document.addEventListener("dragenter", handleDragover, false);





    var to_json = function to_json(workbook) {
    var result = {};
    workbook.SheetNames.forEach(function(sheetName) {
      var roa = XLSX.utils.sheet_to_json(workbook.Sheets[sheetName], {header:1});
      if(roa.length) result[sheetName] = roa;
    });
    return JSON.stringify(result, 2, 2);
  }

</script>


 
  
  {% endblock base %}