{% extends "base.html" %}
{% block base %}

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container w3-opacity-min">
    <div class="w3-display-middle">
      <span class="w3-xxlarge w3-text-white w3-wide" ><b>INSERIR DADOS</b></span>
    </div>
  </div>
  
  <!-- Container (Portfolio Section) -->
  <div class="w3-content w3-container w3-padding-64" id="portfolio">
    <h3 class="w3-center" style="color:black; background-Color:lightblue; font-size:30px">Introduzir ficheiro Excel</h3>
    <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
    <h3 class="w3-center" style="color:white">Inserir ficheiro Excel</h3>
    <form style="text-align:center" action="">
      <input type="file" id="myFile" name="filename">
      <input type="submit">
    </form>
    </div>
  </div>
  
  <div class="Container">
  {% if messages %}

      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      {% endfor %}
    
  {% endif %}
</div>

  <form method="POST" action="{% url 'insert_desovas' %}">
    {% csrf_token %}

    {{ data_form.as_p }}

    {{ desova_form.as_p }}
    
    <input type="submit">

  </form>



  <style>

form {
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 10px;
}

label {
  margin-left: 450px;
  font-weight: bold;
  margin-right: 10px;
}

input[type="text"], input[type="date"] {
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid gray;
}

input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  float: right;
}

input[type="submit"]:hover {
  background-color: #3e8e41;
  margin-bottom: 100px;
}
  </style>

{% endblock base %}