{% extends "base.html" %}
{% block base %}

  <div class="container" style="padding-top: 100px;">
    {% if messages %}

      {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      {% endfor %}

    {% endif %}
    <form method="POST" action="{% url 'insert_venda' %}">
      
      {% csrf_token %}
      <div class="form-row">

        <div class="col-md-4 mb-3">
          <label for="valor">Numero:</label>
          {{ form.num }}
        </div>

        <div class="col-md-4 mb-3">
          <label for="peso_inicio">Jaula:</label>
          {{ form.jaula_inicio }}
        </div>

      
      </div>

      <div class="form-row">

        <div class="col-md-4 mb-3">
          <label for="temp">PM:</label>
          {{ form.PM }}
        </div>

        <div class="col-md-4 mb-3">
          <label for="id_jaula">Data:</label>
          {{ form.data }}
        </div>

      </div>

      <div>
        <button type="submit" class="btn btn-primary" style = "position:relative;right: -920px;top: 10px;">Submeter Pedido</button>
      </div>

    </form>
  </div>
  
{% endblock base %}
      <!--
      <div class="form-row">

        <div class="form-group col-md-4" style="border-radius: 5px;">
          <div class="w3-dropdown-hover" style="border-radius: 5px;margin-left: 20px;">
            <button class="jaula_button" >Jaula</button>
            <div class="w3-dropdown-content w3-bar-block w3-border">
              <a href="#" class="w3-bar-item w3-button">Jaula 1</a>
              <a href="#" class="w3-bar-item w3-button">Jaula 2</a>
              <a href="#" class="w3-bar-item w3-button">Jaula 3</a>
            </div>
          </div>
        </div>
        
        <div class="form-group col-md-4">
          <label for="data">Data:</label>
          {{ data_form.data }}
        </div>

      </div>
      <div class="form-row">

        <div class="form-group col-md-4">
          <label for="peso_medio">Peso Médio (kg):</label>
          <input type="text" id="peso_medio" name="peso_medio" required="">
        </div>

        <div class="form-group col-md-4">
          <label for="peso_total">Peso Total (kg):</label>
          <input type="text" id="peso_total" name="peso_total" required="">
        </div>

      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary" style = "position:relative;right: -920px;top: 10px;">Submeter Pedido</button>
      </div>

    </form>
  </div>

-->

