{% extends "base.html" %}
{% block base %}

  <div class="container" style="padding-top: 100px;">
    {% if messages %}
      {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      {% endfor %}
    
    {% endif %}
    <form method="POST" action="{% url 'insert_desovas' %}">
      {% csrf_token %}

      <div class="form-row">

        <div class="form-group col-md-4">
          <label for="data">Data:</label>
          {{ data_form.data }}
        </div>
      
      </div>  

      <div class="form-row">

        <div class="form-group col-md-4">
          <label for="femeas">Fêmeas:</label>
          {{ desova_form.femeas }}
        </div>

        <div class="form-group col-md-4">
          <label for="desovados">Desovados:</label>
          {{ desova_form.desovados }}
        </div>

        <div class="form-group col-md-4">
          <label for="embrionados">Embrionados:</label>
          {{ desova_form.embrionados }}
        </div>
        
      </div>
    
      <div class="form-group">
        <button type="submit" class="btn btn-primary" style = "position:relative;right: -920px;top: 10px;">Submeter Pedido</button>
      </div>

    </form>
  </div>

  
{% endblock base %}