{% extends "base.html" %}
{% block base %}

  <div class="container" style="padding-top: 100px;">
    <h1>Transições</h1>
    {% if messages %}

      {% for message in messages %}

        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{message}}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

      {% endfor %}

    {% endif %}
    <form method="POST" action="{% url 'transicoes' %}">
      

      {% csrf_token %}

      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="data">Data:</label>
          {{ data_form.data }}
        </div>
        <div class="col-md-4 mb-3">
          <label for="jaula_inicial">Jaula Inicial:</label>
          {{ TransicoesJaulaForm.jaula_inicio }}
        </div>
        <div class="col-md-4 mb-3">
          <label for="jaula_final">Jaula Final:</label>
          {{ TransicoesJaulaForm.jaula_fim }}
        </div>
      </div>
        
        <label for="num">Número de Peixes</label>
        {{ TransicoesJaulaForm.num}}
      
        <label for="PM">PM</label>
        {{ TransicoesJaulaForm.PM }}

      
      </div>

      

      <div class="text-center">
        <button type="submit" class="btn btn-primary mt-4">Submeter</button>
      </div>  

    </form>
    
  </div>



  

{% endblock base %}
